<div class="container">
    <footer class="footer">
	 <small>
		Copyright &copy; <a href="https://www.udemy.com" target="_blank">The Complete Ruby on Rail Developer</a>
		by <a href="#" target="_blank">Omkar Deshpande</a>
	 </small>
	 <nav>
	    <ul>
	       <!-- <li><%= link_to "About", about_path %></li> -->
	    </ul>
	 </nav>
    </footer>
</div>

